@use '../../styles/abstracts/mixins' as *;
.heading {
  text-align: center;
}
.overView {
  padding: 50px;
  background-color: var(--color-page-background);
  display: flex;
  height: calc(100vh - var(--header-height));
  @include responsive('md') {
    flex-direction: column;
    height: auto;
    padding: 50px 0;
    margin: 0 auto;
  }
}
.overViewText {
  flex: 3;
  justify-self: center;
  align-self: center;
  padding: 5%;
  @include responsive('lg') {
    padding: 3%;
  }
  .overViewTitle {
    font-size: 3rem;
    line-height: normal;
    font-weight: 700;
    @include responsive('md') {
      font-size: 1.8rem;
    }
    @include responsive('sm') {
      font-size: 1.6rem;
    }
  }
}
.overViewImage {
  flex: 2;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.overViewListCourse {
  width: 85%;
  margin: 100px auto;
  @include responsive('md') {
    width: 90%;
    margin: 40px auto;
  }
}
.titleList {
  p {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 30px 10px;
    padding: 0 10px;
    width: 50%;
    line-height: normal;
    @include responsive('md') {
      width: 100%;
      margin: 0;
      font-size: 2rem;
    }
  }
}
.welcome {
  width: 80%;
  height: 45vh;
  margin: 100px auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-base);
  border-radius: 40px;
  padding: 0 40px;
  opacity: 0.9;
  @include responsive('lg') {
    width: 90%;
    padding: 20px;
  }

  .welcomeContent {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
    @include responsive('md') {
      padding: 5px;
    }
    .welcomeTitle {
      font-size: 2rem;
      font-weight: 800;
      line-height: normal;
      display: -webkit-box;

      @include responsive('sm') {
        font-size: 1.5rem;
      }
      @include responsive('md') {
        font-size: 2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .welcomeDescription {
      font-size: 0.8rem;
      font-weight: 400;
      width: 80%;
      @include responsive('sm') {
        font-size: 0.7rem;
      }
      @include responsive('md') {
        font-size: 0.7rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .imgContent {
    height: 250px;
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    background-color: white;
    border-radius: 100rem;
    box-shadow: 0 0 0px 20px rgba(255, 251, 244, 0.353);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.btnRegister {
  box-shadow: 0 0 0px 2px var(--color-base);
  border-radius: 6px;
  color: white;

  background: linear-gradient(to right, var(--color-base) 50%, white 0%) left;
  background-color: var(--color-base);
  background-size: 200%;
  transition: all linear 0.2s;
  &:hover {
    background-position: 100%;
    transition: all linear 0.2s;
    color: black;
    transform: scale(0.98);
  }
}
.btnRegister {
  cursor: pointer;
  width: 120px;
  height: 40px;
  margin: auto 0;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
}
